:local(.root) {
  cursor: default;
  &:hover {
    .hidden-text {
      visibility: visible;
      top: -30px;
    }
    .hidden-text-2 {
      visibility: visible;
      top: -60px;
    }
  }

  .hidden-text,
  .hidden-text-2 {
    position: absolute;
    visibility: hidden;
    top: 0px;
    padding: 5px;
    border-radius: 30px;
    font-size: 12px;
    transition: top 0.2s, visibility 0.1s;
  }
}
